<router-outlet>
    <app-spinner></app-spinner>
</router-outlet>

<!-- <h1>{{ 'Auth0 Angular Playground' | uppercase }}</h1>
<p class="status-indicator">
    SDK initialized = {{ (isLoading$ | async) === false }}
</p>
<div class="actions" *ngIf="(isLoading$ | async) === false">
    <h2>Authentication</h2>
    <div class="login-wrapper" *ngIf="(isAuthenticated$ | async) === false">
        <button (click)="auth.loginWithRedirect();">Log in</button>
    </div>
</div>
<button (click)="estaconectado()">conectado?</button>
<div class="logout-wrapper" *ngIf="isAuthenticated$ | async">
    <button (click)="logout()">logout</button>
</div> -->