<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="miformulario" (ngSubmit)="onSubmit()">
                    De: <input type="email" class="form-control" [class.is-invalid]="miformulario.get('From').touched && miformulario.get('From').invalid" formControlName="From" email [readonly]="true">
                    Para: <input [class.is-invalid]="miformulario.get('To').touched && miformulario.get('To').invalid" type="email" class="form-control"  formControlName="To" email>
                    Subject: <input [class.is-invalid]="miformulario.get('Subject').touched && miformulario.get('Subject').invalid" type="text" class="form-control"  formControlName="Subject">
                    Mensaje: <textarea [class.is-invalid]="miformulario.get('Message').touched && miformulario.get('Message').invalid" type="textarea" class="form-control"  formControlName="Message"></textarea><br>
                    <button [disabled]='!miformulario.valid' type="submit" class="btn" style="background-color: #3473da !important;color: #fff;">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
