<div class="col-12">
    <div class="card card-body">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#759ee0" type="ball-scale-multiple">
            <p style="font-size: 20px; color:#fff">Cargando Información...</p>
        </ngx-spinner>
        <div class="d-flex mb-3 mt-3">
            <div class="m-t-20">
                <form [formGroup]="search">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group row">
                                <div class="input-group col-sm-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="ti-search"></i>
                                        </span>
                                    </div>

                                    <input class="form-control" formControlName="q" (change)="searchTerm()"
                                        placeholder="Buscar Moneda" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <button *ngIf="canCreate()" class="btn btn-primary ml-auto h-25 "
                style="background-color: #3473da;border-color: #3473da; " (click)="openCreate(newCurrency)">Nueva
                Moneda</button>
        </div>
        <div *ngIf="canList()" class="table-responsive table-hover">
            <table class="table table-responsive-lg no-wrap v-middle white-table">
                <thead>
                    <tr>
                        <th *ngFor="let header of dataList.metadata">
                            <div class="text-center">
                                {{header}}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let currency of dataList.data">
                        <td>
                            <div class="text-center">
                                {{currency.id_currency}}
                            </div>
                        </td>
                        <td class="text-left">
                            {{currency.currency_name}}
                        </td>
                        <td>
                            {{currency.symbol}}
                        </td>
                        <td>
                            {{currency.code}}
                        </td>
                        <td>
                            <div class="div-table-actions">
                                <button *ngIf="canSee()" class="btn btn-raised mr-1 text-white btn-info"
                                    (click)="show(viewCur,currency)" type="button"><span class="btn-label m-r-5"><i
                                            class="mdi mdi-eye-outline"></i></span>Ver</button>
                                <button class="btn btn-raised mr-1 text-white  btn-color-solucredit" type="button"
                                    *ngIf="canEdit()" (click)="editC(editModal,currency)"><span
                                        class="btn-label m-r-5"><i class=" icon-pencil"></i></span>Editar</button>
                                <button *ngIf="canDelete()" (click)="showAlertDelete(currency)"
                                    class="btn btn-danger waves-effect waves-light" type="button">
                                    <span class="btn-label m-r-5"><i class="mdi mdi-delete"></i></span>Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center p-2">
                <ngb-pagination [collectionSize]="this.totalData" [pageSize]="pageSize" [(page)]="page"
                    aria-label="Default pagination" (pageChange)="pageChange($event)" [boundaryLinks]="true"
                    [maxSize]="7"></ngb-pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #newCurrency let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Crear Nueva Moneda</h3>
        <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="newCurrencyForm" (ngSubmit)="onCreate()">

            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Moneda</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control " id="name" formControlName="currency_name" required
                            [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newCurrencyForm.get('currency_name').valid && (newCurrencyForm.get('currency_name').dirty || newCurrencyForm.get('currency_name').touched)">{{spanNameMessageC}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Código</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="text" maxlength="3" minlength="3" class="form-control " id="name"
                            formControlName="code" required [placeholder]="exampleNameC">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newCurrencyForm.get('code').valid && (newCurrencyForm.get('code').dirty || newCurrencyForm.get('code').touched)">{{spanNameMessageS}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Símbolo</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="text" maxlength="1" minlength="1" class="form-control " id="name"
                            formControlName="symbol" required [placeholder]="exampleNameS">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newCurrencyForm.get('symbol').valid && (newCurrencyForm.get('symbol').dirty || newCurrencyForm.get('symbol').touched)">{{spanNameMessage}}</small>
                </div>
            </div>


            <div class="modal-footer border-top-0">
                <button type="submit" class="btn btn-raised mr-1 text-white" [disabled]="!newCurrencyForm.valid"
                    style="background-color: #3473da;">Agregar
                    Moneda</button>
                <button type="button" class="btn btn-raised mr-1 text-white  btn-color-solucredit-secondary"
                    (click)="closeBtnClick()">Cancelar</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #viewCur let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Visualización de Moneda</h3>
        <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="row">
                <label for="first_name" class="col col-sm-3 text-right control-label col-form-label">
                    <i class="fas fa-hand-holding "></i>
                    Moneda:
                </label>
                <div class="col col-sm-9">
                    <h5>{{this.actualCurrency.currency_name}}</h5>
                </div>
            </div>
            <hr class="rounded">


            <div class="row">
                <label for="first_name" class="col col-sm-3 text-right control-label col-form-label">
                    <i class=" far fa-calendar-plus"></i>
                    Fecha de creación:
                </label>
                <div class="col input-group col-sm-9">
                    <h5>{{this.actualCurrency.creation_date|date:'M/d/yyyy, h:mm a'}}</h5>
                </div>
            </div>
            <hr class="rounded">

            <div class="row">

                <label for="first_name" class="col col-sm-3 text-right control-label col-form-label">
                    <i class="  far fa-calendar-check"></i>
                    Fecha de actualización:
                </label>
                <div class="col input-group col-sm-9">
                    <h5>{{this.actualCurrency.last_mod|date:'M/d/yyyy, h:mm a'}}</h5>
                </div>
            </div>
            <hr class="rounded">


            <div class="modal-footer border-top-0">
                <button type="submit" class="btn btn-raised mr-1 text-white" *ngIf="canEdit()"
                    (click)="edit(editModal,this.actualCurrency)" style="background-color: #3473da;">Modificar</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #editModal let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Editar Moneda</h3>
        <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="newCurrencyForm" (ngSubmit)="saveChanges()">
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Periodo Fiscal</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control " id="currency_name" formControlName="currency_name"
                            required [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newCurrencyForm.get('currency_name').valid && (newCurrencyForm.get('currency_name').dirty || newCurrencyForm.get('currency_name').touched)">{{spanNameMessage}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Código</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="text" maxlength="3" minlength="3" class="form-control " id="code"
                            formControlName="code" required [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newCurrencyForm.get('code').valid && (newCurrencyForm.get('code').dirty || newCurrencyForm.get('code').touched)">{{spanNameMessageC}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Símbolo</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="text" maxlength="1" minlength="1" class="form-control " id="symbol"
                            formControlName="symbol" required [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newCurrencyForm.get('symbol').valid && (newCurrencyForm.get('symbol').dirty || newCurrencyForm.get('symbol').touched)">{{spanNameMessageS}}</small>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="submit" class="btn btn-raised mr-1 text-white" [disabled]="!newCurrencyForm.valid"
                    style="background-color: #3473da;">Actualizar</button>
                <button type="button" class="btn btn-raised mr-1 text-white  btn-color-solucredit-secondary"
                    (click)="closeBtnClick()">Cancelar</button>
            </div>
        </form>
    </div>
</ng-template>