<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url(assets/images/background/login-register.jpg) no-repeat center center; 
    background-size: cover;">
    <div class="col-sm-12 col-lg-8 m-t-30 m-b-30">
        <div class="logo mb-4">
            <span class="db"><img src="assets/images/logo.png" alt="logo" style="width: 100px;height: 100px;margin: 0px auto;display: block;" /></span>
            <h2 class="m-b-0 text-center text-white">Solucredit</h2>
        </div>

        <ng-container [ngSwitch]="isCreate">
            <ng-container *ngSwitchCase="true">
                <div class="card-header" style="background-color: #3473da;">
                    <h4 class="card-title mb-0 text-white">Registro exitoso</h4>
                </div>
                <div class="card-body bg-white">
                    <p>El formulario fue registrado con éxito</p>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="false">
                <div class="card-header" style="background-color: #3473da;">
                    <h4 class="card-title mb-0 text-white">Nuevo registro de solicitud</h4>
                </div>
                <div class="card-body bg-white">
                    <div class="card-block">
                        <form [formGroup]="createCustomer" (ngSubmit)="CreateUser()" class="form-horizontal">
                            <div class="card-body">
                                <div class="row mb-4">
                                    <label for="type" class="col-sm-12">Tipo de Negocio</label>
            
                                    <div class="col-md-6 d-flex">
                                        <div class="mr-5">
                                            <div class="card border-bottom card-select" [ngClass]="{'selected-card': createCustomer.controls.type.value == '0' }" style="background-color: #eef5f9; cursor: pointer;" (click)="toggleType(0)">
                                                <div class="card-body " style="padding-top: 10px;">
                                                    <div class="align-items-center" >
                                                        
                                                        <div style="text-align: center;"><span class="display-6" [ngClass]="{'selected-card': createCustomer.controls.type.value == '0' }"><i class="icon-user"></i></span></div>
                                                        <div style="text-align: center;">
                                                            <h6 [ngClass]="{'selected-card': createCustomer.controls.type.value == '0' }">Individual</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="card border-bottom card-select" [ngClass]="{'selected-card': createCustomer.controls.type.value == '1' }" style="background-color: #eef5f9; cursor: pointer;" (click)="toggleType(1)">
                                                <div class="card-body " style="padding-top: 10px;">
                                                    <div class="align-items-center" >
                                                        
                                                        <div style="text-align: center;"><span class="display-6" [ngClass]="{'selected-card': createCustomer.controls.type.value == '1' }"><i class="icon-briefcase"></i></span></div>
                                                        <div style="text-align: center;">
                                                            <h6 [ngClass]="{'selected-card': createCustomer.controls.type.value == '1' }">Jurídico</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6" *ngIf="createCustomer.controls.type.value == 1">
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label for="name" class="col-sm-12">Razón social y nombre comercial  <code style="font-size: 16px;"><sup>*</sup></code> </label>
                                                <div class="input-group col-sm-12">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">
                                                            <i class="fas fa-building"></i>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control" aria-label="businessname" id="businessname" formControlName="businessname"  
                                                        required placeholder="Ej. Solucredit S.A.">
                                                </div>
                                                <small class="form-text text-danger col-sm-12"
                                                    *ngIf="!createCustomer.get('businessname').valid && (createCustomer.get('businessname').dirty || createCustomer.get('businessname').touched)">La
                                                    razón social y nombre comercial son requeridos.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                

                               <!--  <div class="row mb-4" *ngIf="createCustomer.controls.type.value == 1">
                                    <div class="col-sm-12 col-lg-8">
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-12">Nombre de la central, sucursal o agencia donde se solicita el producto o servicio<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-warehouse"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="branchoffice" id="branchoffice" formControlName="branchoffice"
                                                    required placeholder="Ej. Central">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('branchoffice').valid && (createCustomer.get('branchoffice').dirty || createCustomer.get('branchoffice').touched)">El
                                                nombre donde se solicita el producto o servicio es requerido.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-12">Código de la agencia o sucursal<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-barcode"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="branchofficecode" id="branchofficecode" formControlName="branchofficecode" ng-disabled="createCustomer.controls.type.value == 0"
                                                    required placeholder="Ej. S23">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('branchofficecode').valid && (createCustomer.get('branchofficecode').dirty || createCustomer.get('branchofficecode').touched)">El
                                                codigo de la agencia o sucursal es requerido.</small>
                                        </div>
                                    </div>
                                </div>-->

                            <!--
                                <div class="row">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-12">Primer Apellido<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="far fa-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="Last Name" id="lastname1" formControlName="lastname1"
                                                    required placeholder="Ej.Perez ">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('lastname1').valid && (createCustomer.get('lastname1').dirty || createCustomer.get('lastname1').touched)">El
                                                primer apellido es requerido.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-12">Segundo Apellido<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="far fa-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="second Last name" id="lastname2" formControlName="lastname2"
                                                    required placeholder="Ej. Ramirez">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('lastname2').valid && (createCustomer.get('lastname2').dirty || createCustomer.get('lastname2').touched)">El
                                                segundo apellido es requerido.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-12">Apellido de casada</label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="far fa-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="Last name" id="lastname3" formControlName="lastname3"
                                                 placeholder="Ej. Ramirez">
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row mb-4">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-12">Primer Nombre<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="far fa-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="Username" id="name1" formControlName="name1"
                                                    required placeholder="Ej. Roberto">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('name1').valid && (createCustomer.get('name1').dirty || createCustomer.get('name1').touched)">El
                                                primer apellido es requerido.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-12">Segundo Nombre</label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="far fa-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="Username" id="name2" formControlName="name2"
                                                    placeholder="Ej. Elias">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-12">Otro nombre</label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="far fa-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="Username" id="name3" formControlName="name3"
                                                 placeholder="Ej. Roberto Elias">
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row mb-4">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="nit" class="col-sm-12">NIT<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="far fa-address-card"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="nit" formControlName="nit" required
                                                    placeholder="Ej. 12345678">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="createCustomer.get('nit').errors?.required && createCustomer.get('nit').touched">El
                                                NIT es requerido.</small>
                                                <small class="form-text text-danger col-sm-12"
                                                *ngIf="createCustomer.get('nit').errors?.pattern && createCustomer.get('nit').touched">El
                                                NIT no es valido</small>
                                        </div>
                                    </div>-->
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-12">Nombre completo<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="far fa-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="Name" id="name" formControlName="name"
                                                    required placeholder="Nombre Apellido">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('name').valid && (createCustomer.get('name').dirty || createCustomer.get('name').touched)">El
                                                nombre es requerido.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group row">
                                            <label for="phone" class="col-sm-12">Número de teléfono<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-mobile-alt"></i>
                                                    </span>
                                                </div>
                                                <input type="number" class="form-control" id="phone" formControlName="phone" required
                                                    placeholder="Ingrese número de teléfono">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('phone').valid && (createCustomer.get('phone').dirty || createCustomer.get('phone').touched)">El
                                                número de celular es requerido.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group row">
                                            <label for="email" class="col-sm-12">Correo electrónico<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-envelope"></i>
                                                    </span>
                                                </div>
                                                <input type="email" class="form-control" id="email" formControlName="email" required
                                                    placeholder="Ej. email@email.com">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="createCustomer.get('email').errors?.email && createCustomer.get('email').touched">Ingresar
                                                un correo electrónico válido.</small>
                                                <small class="form-text text-danger col-sm-12"
                                                *ngIf="createCustomer.get('email').errors?.emailExist">Este corréo ya fue registrado</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group row">
                                            <label for="amount_interests" class="col-sm-12">Monto interesado</label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="far fa-user"></i>
                                                    </span>
                                                </div>
                                                <input currencyMask  class="form-control" aria-label="amount_interests" id="amount_interests" formControlName="amount_interests"
                                                 placeholder="Ej. 1000.00" [options]="{ prefix: '', thousands: ',', decimal: '.', nullable:true }">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                        *ngIf="!createCustomer.get('amount_interests').valid && (createCustomer.get('amount_interests').dirty || createCustomer.get('amount_interests').touched)">El campo es requerido.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    
                                    <div class="col-sm-12 col-lg-4">
                                        <label for="currency" class="col-sm-12">Moneda</label>

                                        <div class="col-md-6 d-flex">
                                            <div class="mr-5">
                                                <div class="card border-bottom card-select" [ngClass]="{'selected-card': createCustomer.controls.currency.value == '0' }" style="background-color: #eef5f9; cursor: pointer;" (click)="toggleMoney(0)">
                                                    <div class="card-body " style="padding-top: 10px;">
                                                        <div class="align-items-center" >
                                                            
                                                            <div style="text-align: center;"><span class="display-6" [ngClass]="{'selected-card': createCustomer.controls.currency.value == '0' }">Q</span></div>
                                                            <div style="text-align: center;">
                                                                <h6 [ngClass]="{'selected-card': createCustomer.controls.currency.value == '0' }">Quetzales</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="card border-bottom card-select" [ngClass]="{'selected-card': createCustomer.controls.currency.value == '1' }" style="background-color: #eef5f9; cursor: pointer;" (click)="toggleMoney(1)">
                                                    <div class="card-body " style="padding-top: 10px;">
                                                        <div class="align-items-center" >
                                                            
                                                            <div style="text-align: center;"><span class="display-6" [ngClass]="{'selected-card': createCustomer.controls.currency.value == '1' }">$</span></div>
                                                            <div style="text-align: center;">
                                                                <h6 [ngClass]="{'selected-card': createCustomer.controls.currency.value == '1' }">Dolares</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


        <!--
                                <div class="row">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="inputPais" class="col-sm-12">Seleccionar país<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div _ngcontent-bpb-c164="" class="input-group-prepend"><label _ngcontent-bpb-c164=""
                                                        for="inputGroupSelect01" class="input-group-text"><i class="far fa-id-card"></i></label>
                                                </div>
                                                <select #mySelect class="custom-select col-sm-12" id="inputPais" formControlName="inputPais"
                                                    [(ngModel)]="selecionCountry" (change)='onCountriSelected(mySelect.value)'>
                                                    <option value="" selected disabled>Seleccionar...</option>
                                                    <option *ngFor="let order of optionsCountries; let i = index"
                                                        [value]="optionsCountries[i].id">{{optionsCountries[i].name}}</option>
                                                </select>
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('inputPais').valid && (createCustomer.get('inputPais').dirty || createCustomer.get('inputPais').touched)">El
                                                país es requerido.</small>
                                        </div>
                                    </div>
        
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="inputDepartamento" class="col-sm-12">Seleccionar departamento<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div _ngcontent-bpb-c164="" class="input-group-prepend"><label _ngcontent-bpb-c164=""
                                                        for="inputGroupSelect01" class="input-group-text"><i class="far fa-id-card"></i></label>
                                                </div>
                                                <select #mySelectDepartment class="custom-select col-sm-12" id="inputDepartamento"
                                                    formControlName="inputDepartamento" [(ngModel)]="selecionDepartment"
                                                    (change)='onDepartmentSelected(mySelectDepartment.value)'>
                                                    <option value="" selected disabled>Selecionar...</option>
                                                    <ng-container *ngFor="let order of optionsDepartments; let i = index">
                                                        <option *ngIf="selecionCountry==optionsDepartments[i].country"
                                                            [value]="optionsDepartments[i].id">{{optionsDepartments[i].name}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('inputDepartamento').valid && (createCustomer.get('inputDepartamento').dirty || createCustomer.get('inputDepartamento').touched)">El
                                                departamento es requerido.</small>
                                        </div>
                                    </div>
        
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="municipality_id" class="col-sm-12">Seleccionar Municipio<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div _ngcontent-bpb-c164="" class="input-group-prepend"><label _ngcontent-bpb-c164=""
                                                        for="inputGroupSelect01" class="input-group-text"><i class="far fa-id-card"></i></label>
                                                </div>
                                                <select class="custom-select col-sm-12" id="municipality_id" formControlName="municipality_id"
                                                    [(ngModel)]="selecionMunicipality">
                                                    <option value="" selected disabled>Selecionar...</option>
                                                    <ng-container *ngFor="let order of optionsMunicipalities; let i = index">
                                                        <option *ngIf="selecionDepartment==optionsMunicipalities[i].department"
                                                            [value]="optionsMunicipalities[i].id">
                                                            {{optionsMunicipalities[i].name}}</option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                            <small class="form-text text-danger  col-sm-12"
                                                *ngIf="!createCustomer.get('municipality_id').valid && (createCustomer.get('municipality_id').dirty || createCustomer.get('municipality_id').touched)">El
                                                municipio es requerido.</small>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row mb-4">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="address2" class="col-sm-12">Zona</label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class=" far fa-address-book"></i>
                                                    </span>
                                                </div>
                                                <input type="number" class="form-control" id="zone" formControlName="zone"
                                                    placeholder="Ej. 10">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="address1" class="col-sm-12">Dirección 1<code style="font-size: 16px;"><sup>*</sup></code></label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class=" far fa-address-book"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="address1" formControlName="address1" required
                                                    placeholder="Ej. 8va. calle 35-40 zona 4">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('address1').valid && (createCustomer.get('address1').dirty || createCustomer.get('address1').touched)">La
                                                dirección es requerida.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="form-group row">
                                            <label for="address2" class="col-sm-12">Dirección 2</label>
                                            <div class="input-group col-sm-12">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class=" far fa-address-book"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="address2" formControlName="address2"
                                                    placeholder="Ej. Ciudad Vieja, Guatemala">
                                            </div>
                                            <small class="form-text text-danger col-sm-12"
                                                *ngIf="!createCustomer.get('address2').valid && (createCustomer.get('address2').dirty || createCustomer.get('address2').touched)">La
                                                dirección es requerida.</small>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-sm-12 col-lg-6 p-b-40">
                                        <div class="form-group row">
                                            <label for="municipality_id" class="col-sm-12">Seleccionar logo</label>
                                            <div class="input-group col-sm-12">
                                                <div _ngcontent-bpb-c164="" class="input-group-prepend"><label _ngcontent-bpb-c164="" for="inputGroupSelect01"
                                                        class="input-group-text"><i class="far fa-images"></i></label></div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputlogo" (change)="showPreviewImage($event)" accept="image/*">
                                                    <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" >
                                                    <label class="custom-file-label" for="inputlogo">Selecciona una imagen</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                 
        -->
        
        <div class="card-body">
            <h4 class="card-title">Informacion opcional</h4>
            <details class="default square">
                <summary><span class="open">ver mas</span><span class="close"></span></summary>
                <div class="row mb-2 mt-2">
                    <div class="row mb-2" *ngIf="createCustomer.controls.type.value == 1">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group row">
                                <label for="name" class="col-sm-12">Nombre de la central, sucursal o agencia donde se solicita el producto o servicio</label>
                                <div class="input-group col-sm-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fas fa-warehouse"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="branchoffice" id="branchoffice" formControlName="branchoffice"
                                        placeholder="Ej. Central">
                                </div>
                                <small class="form-text text-danger col-sm-12"
                                    *ngIf="!createCustomer.get('branchoffice').valid && (createCustomer.get('branchoffice').dirty || createCustomer.get('branchoffice').touched)">El
                                    nombre donde se solicita el producto o servicio es requerido.</small>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group row">
                                <label for="name" class="col-sm-12">Código de la agencia o sucursal</label>
                                <div class="input-group col-sm-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fas fa-barcode"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="branchofficecode" id="branchofficecode" formControlName="branchofficecode" ng-disabled="createCustomer.controls.type.value == 0"
                                        placeholder="Ej. S23">
                                </div>
                                <small class="form-text text-danger col-sm-12"
                                    *ngIf="!createCustomer.get('branchofficecode').valid && (createCustomer.get('branchofficecode').dirty || createCustomer.get('branchofficecode').touched)">El
                                    codigo de la agencia o sucursal es requerido.</small>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-2">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="DPI" class="col-sm-12">DPI</label>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="far fa-address-card"></i>
                                    </span>
                                </div>
                                <input type="number" class="form-control" id="DPI" formControlName="DPI"
                                    placeholder="Ej. 47956325145">
                            </div>
                            <small class="form-text text-danger col-sm-12"
                                *ngIf="!createCustomer.get('DPI').valid && (createCustomer.get('DPI').dirty || createCustomer.get('DPI').touched)">El
                                DPI es requerido.</small>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="nit" class="col-sm-12">Nit</label>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="far fa-address-card"></i>
                                    </span>
                                </div>
                                <input type="number" maxlength="13" minlength="8" class="form-control" id="nit" formControlName="nit"
                                    placeholder="Ej. 12345678">
                            </div>
                            <small class="form-text text-danger col-sm-12"
                                *ngIf="!createCustomer.get('nit').valid && (createCustomer.get('nit').dirty || createCustomer.get('nit').touched)">El
                                nit es requerido.</small>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="inputPais" class="col-sm-12">Seleccionar país</label>
                            <div class="input-group col-sm-12">
                                <div _ngcontent-bpb-c164="" class="input-group-prepend"><label _ngcontent-bpb-c164=""
                                        for="inputGroupSelect01" class="input-group-text"><i class="far fa-id-card"></i></label>
                                </div>
                                <select #mySelect class="custom-select col-sm-12" id="inputPais" formControlName="inputPais"
                                    [(ngModel)]="selecionCountry" (change)='onCountriSelected(mySelect.value)'>
                                    <option value="" selected disabled>Seleccionar...</option>
                                    <option *ngFor="let order of optionsCountries; let i = index"
                                        [value]="optionsCountries[i].id">{{optionsCountries[i].name}}</option>
                                </select>
                            </div>
                            <small class="form-text text-danger col-sm-12"
                                *ngIf="!createCustomer.get('inputPais').valid && (createCustomer.get('inputPais').dirty || createCustomer.get('inputPais').touched)">El
                                país es requerido.</small>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="inputDepartamento" class="col-sm-12">Seleccionar departamento</label>
                            <div class="input-group col-sm-12">
                                <div _ngcontent-bpb-c164="" class="input-group-prepend"><label _ngcontent-bpb-c164=""
                                        for="inputGroupSelect01" class="input-group-text"><i class="far fa-id-card"></i></label>
                                </div>
                                <select #mySelectDepartment class="custom-select col-sm-12" id="inputDepartamento"
                                    formControlName="inputDepartamento" [(ngModel)]="selecionDepartment"
                                    (change)='onDepartmentSelected(mySelectDepartment.value)'>
                                    <option value="" selected disabled>Selecionar...</option>
                                    <ng-container *ngFor="let order of optionsDepartments; let i = index">
                                        <option *ngIf="selecionCountry==optionsDepartments[i].country"
                                            [value]="optionsDepartments[i].id">{{optionsDepartments[i].name}}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <small class="form-text text-danger col-sm-12"
                                *ngIf="!createCustomer.get('inputDepartamento').valid && (createCustomer.get('inputDepartamento').dirty || createCustomer.get('inputDepartamento').touched)">El
                                departamento es requerido.</small>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="municipality_id" class="col-sm-12">Seleccionar Municipio</label>
                            <div class="input-group col-sm-12">
                                <div _ngcontent-bpb-c164="" class="input-group-prepend"><label _ngcontent-bpb-c164=""
                                        for="inputGroupSelect01" class="input-group-text"><i class="far fa-id-card"></i></label>
                                </div>
                                <select class="custom-select col-sm-12" id="municipality_id" formControlName="municipality_id"
                                    [(ngModel)]="selecionMunicipality">
                                    <option value="" selected disabled>Selecionar...</option>
                                    <ng-container *ngFor="let order of optionsMunicipalities; let i = index">
                                        <option *ngIf="selecionDepartment==optionsMunicipalities[i].department"
                                            [value]="optionsMunicipalities[i].id">
                                            {{optionsMunicipalities[i].name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <small class="form-text text-danger  col-sm-12"
                                *ngIf="!createCustomer.get('municipality_id').valid && (createCustomer.get('municipality_id').dirty || createCustomer.get('municipality_id').touched)">El
                                municipio es requerido.</small>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="address2" class="col-sm-12">Zona</label>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class=" far fa-address-book"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="zone" formControlName="zone"
                                    placeholder="Ej. zona 10">
                            </div>
                            <small class="form-text text-danger col-sm-12"
                                *ngIf="!createCustomer.get('zone').valid && (createCustomer.get('zone').dirty || createCustomer.get('zone').touched)">La
                                zona es requerida.</small>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="address1" class="col-sm-12">Dirección 1</label>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class=" far fa-address-book"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="address1" formControlName="address1"
                                    placeholder="Ej. 8va. calle 35-40 zona 4">
                            </div>
                            <small class="form-text text-danger col-sm-12"
                                *ngIf="!createCustomer.get('address1').valid && (createCustomer.get('address1').dirty || createCustomer.get('address1').touched)">La
                                dirección es requerida.</small>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="address2" class="col-sm-12">Dirección 2</label>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class=" far fa-address-book"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="address2" formControlName="address2"
                                    placeholder="Ej. Ciudad Vieja, Guatemala">
                            </div>
                            <small class="form-text text-danger col-sm-12"
                                *ngIf="!createCustomer.get('address2').valid && (createCustomer.get('address2').dirty || createCustomer.get('address2').touched)">La
                                dirección es requerida.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6 p-b-40">
                        <div class="form-group row">
                            <label for="municipality_id" class="col-sm-12">Seleccionar logo</label>
                            <div class="input-group col-sm-12">
                                <div _ngcontent-bpb-c164="" class="input-group-prepend"><label _ngcontent-bpb-c164="" for="inputGroupSelect01"
                                        class="input-group-text"><i class="far fa-images"></i></label></div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputlogo" (change)="showPreviewImage($event)">
                                    <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder">
                                    <label class="custom-file-label" for="inputlogo">Selecciona una imagen</label>
                                </div>
                            </div>
                            <!-- <small class="form-text text-danger  col-sm-12"
                                                            *ngIf="!createCustomer.get('municipality_id').valid && (createCustomer.get('municipality_id').dirty || createCustomer.get('municipality_id').touched)">El
                                                            municipio es requerido.</small> -->
                        </div>
                    </div>
                </div>
            </details>
        </div>
                            </div>
                            
                            <div class="card-footer" style="background-color: white;">
                                <div class="form-group m-b-0 text-right">
                                    <button type="submit" class="btn btn-raised mr-1 text-white" style="background-color: #3473da;"
                                    [disabled]="!createCustomer.valid">Registrar</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </ng-container>
        </ng-container>
        
    </div>
</div>
