<div class="row">
    <div class="col-md-12">

        <!--- pagination Table -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0"><span class="lstick"></span>Pagination Table </h4>
                <span class="card-subtitle">You can bind our NgbPagination component with slicing the data list</span>
                <select class="custom-select" style="float: right; width: auto" [(ngModel)]="pageSize">
                    <option [ngValue]="2">2 items per page</option>
                    <option [ngValue]="4">4 items per page</option>
                    <option [ngValue]="6">6 items per page</option>
                </select>
                <table class="table table-striped border mt-4">
                    <thead>
                        <tr>
                            <th *ngFor="let header of dataList.metadata">

                                {{header}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let log of dataList.data">
                            <td *ngFor="let header of dataList.metadata">
                                {{log[header]}}
                            </td>

                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-center p-2">
                    <ngb-pagination [collectionSize]="totalData" [(page)]="page" [pageSize]="pageSize">
                    </ngb-pagination>
                </div>
            </div>
        </div>
        <!--- End pagination Table -->

    </div>
</div>