<div class="card w-100">
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="">
                <img src="assets/images/logo.png" alt="user" class="rounded-circle" width="100">
            </div>
            <div class="p-l-20">
                <h4 class="">Resumen Financiero 2020</h4>
                <h6>Cuarto Trimestre</h6>
                <button class="btn btn-success text-white">
                    <i class="ti-plus"></i>Detalle</button>
            </div>
        </div>
        <div class="row m-t-40">
            <div class="col border-right">
                <h2 class="font-weight-normal">Q.300K</h2>
                <h6>Ingresos</h6>
            </div>
            <div class="col border-right">
                <h2 class="font-weight-normal">Q.90K</h2>
                <h6>Gastos de Administración</h6>
            </div>
            <div class="col">
                <h2 class="font-weight-normal">Q.210K</h2>
                <h6>Utilidad Neta</h6>
            </div>
        </div>
    </div>
    <div class="card-body border-top">
		<div class="scrollable" [perfectScrollbar]="config" style="height: 86px;">
	        <p class="text-center aboutscroll">
	            En este resumen financiero, se muestra la utilidad neta antes del impuesto.
	        </p>
		</div>
        <ul class="list-icons d-flex flex-item text-center list-unstyled mt-4 mb-0">
            <li class="col">
                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Website">
                    <i class="fa fa-globe font-16 text-muted"></i>
                </a>
            </li>
            <li class="col">
                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="twitter">
                    <i class="fab fa-twitter font-16 text-muted"></i>
                </a>
            </li>
            <li class="col">
                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Facebook">
                    <i class="fab fa-facebook-square font-16 text-muted"></i>
                </a>
            </li>
            <li class="col">
                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Youtube">
                    <i class="fab fa-youtube font-16 text-muted"></i>
                </a>
            </li>
            <li class="col">
                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Linkd-in">
                    <i class="fab fa-linkedin-in font-16 text-muted"></i>
                </a>
            </li>
        </ul>
    </div>
</div>