<div class="col-12">
    <div class="card card-body">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#759ee0" type="ball-scale-multiple">
            <p style="font-size: 20px; color:#fff">Cargando Información...</p>
        </ngx-spinner>
        <div class="d-flex mb-3 mt-3">
            <div class="m-t-20">
                <form [formGroup]="search">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group row">
                                <div class="input-group col-sm-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="ti-search"></i>
                                        </span>
                                    </div>

                                    <input class="form-control" formControlName="q" (change)="searchTerm()"
                                        placeholder="Buscar Periodo Fiscal" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <button *ngIf="canCreate()" class="btn btn-primary ml-auto h-25 "
                style="background-color: #3473da;border-color: #3473da; " (click)="openCreate(newBank)">Nuevo
                Periodo Fiscal</button>
        </div>
        <div *ngIf="canList()" class="table-responsive table-hover">
            <table class="table table-responsive-lg no-wrap v-middle white-table">
                <thead>
                    <tr>
                        <th *ngFor="let header of dataList.metadata">
                            <div class="text-center">
                                {{header}}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fp of dataList.data">
                        <td>
                            <div class="text-center">
                                {{fp.fiscal_period_id}}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{fp.period_name}}
                            </div>

                        </td>
                        <td>
                            <div class="text-center">
                                {{getFiscalYearName(fp.fiscal_year_id)}}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{fp.period_start_date| date:'M/d/yyyy'}}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{fp.period_end_date| date:'M/d/yyyy'}}
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                {{fp.note}}
                            </div>
                        </td>
                        <td>
                            <div class="div-table-actions">
                                <button *ngIf="canSee()" class="btn btn-raised mr-1 text-white btn-info"
                                    (click)="show(viewBan,fp)" type="button"><span class="btn-label m-r-5"><i
                                            class="mdi mdi-eye-outline"></i></span>Ver</button>
                                <button class="btn btn-raised mr-1 text-white  btn-color-solucredit" type="button"
                                    *ngIf="canEdit()" (click)="edit(editModal,fp)"><span class="btn-label m-r-5"><i
                                            class=" icon-pencil"></i></span>Editar</button>
                                <button *ngIf="canDelete()" (click)="showAlertDelete(fp)"
                                    class="btn btn-danger waves-effect waves-light" type="button">
                                    <span class="btn-label m-r-5"><i class="mdi mdi-delete"></i></span>Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center p-2">
                <ngb-pagination [collectionSize]="this.totalData" [pageSize]="pageSize" [(page)]="page"
                    aria-label="Default pagination" (pageChange)="pageChange($event)" [boundaryLinks]="true"
                    [maxSize]="7"></ngb-pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #newBank let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Agregar un Nuevo Periodo Fiscal</h3>
        <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="newFiscalPeriodForm" (ngSubmit)="(onCreate)()">

            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Periodo Fiscal</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control " id="name" formControlName="period_name" required
                            [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newFiscalPeriodForm.get('period_name').valid && (newFiscalPeriodForm.get('period_name').dirty || newFiscalPeriodForm.get('period_name').touched)">{{spanNameMessage}}</small>
                </div>
            </div>
            <!--Lista FiscalYear-->
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Año Fiscal</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <select class="custom-select" id="id_permission" formControlName="fiscal_year_id">
                            <option value="" selected disabled hidden>Seleccionar</option>
                            <option *ngFor="let fy of fiscalYear" [ngValue]="fy.fiscal_year_id">{{fy.fiscal_year_note}}
                            </option>
                        </select>
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newFiscalPeriodForm.get('period_start_date').valid && (newFiscalPeriodForm.get('period_start_date').dirty || newFiscalPeriodForm.get('period_start_date').touched)">{{spanNameMessage}}</small>
                </div>
            </div>
            <!--Lista FiscalYear-->
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Inicio</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="date" class="form-control " id="name" formControlName="period_start_date" required
                            [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newFiscalPeriodForm.get('period_start_date').valid && (newFiscalPeriodForm.get('period_start_date').dirty || newFiscalPeriodForm.get('period_start_date').touched)">{{spanNameMessage}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Final</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="date" class="form-control " id="name" formControlName="period_end_date" required
                            [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newFiscalPeriodForm.get('period_end_date').valid && (newFiscalPeriodForm.get('period_end_date').dirty || newFiscalPeriodForm.get('period_end_date').touched)">{{spanNameMessage}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Nota</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control " id="name" formControlName="note" required
                            [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newFiscalPeriodForm.get('note').valid && (newFiscalPeriodForm.get('note').dirty || newFiscalPeriodForm.get('note').touched)">{{spanNameMessage}}</small>
                </div>
            </div>


            <div class="modal-footer border-top-0">
                <button type="submit" class="btn btn-raised mr-1 text-white" [disabled]="!newFiscalPeriodForm.valid"
                    style="background-color: #3473da;">Agregar
                    Periodo Fiscal</button>
                <button type="button" class="btn btn-raised mr-1 text-white  btn-color-solucredit-secondary"
                    (click)="closeBtnClick()">Cancelar</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #viewBan let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Visualización de Periodo Fiscal</h3>
        <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="row">
                <label for="first_name" class="col col-sm-3 text-right control-label col-form-label">
                    <i class="fas fa-hand-holding "></i>
                    Periodo Fiscal:
                </label>
                <div class="col col-sm-9">
                    <h5>{{this.actualFiscalPeriod.period_name}}</h5>
                </div>
            </div>
            <hr class="rounded">
            <div class="row">
                <label for="first_name" class="col col-sm-3 text-right control-label col-form-label">
                    <i class="fas fa-hand-holding "></i>
                    Inicio:
                </label>
                <div class="col col-sm-9">
                    <h5>{{this.actualFiscalPeriod.period_start_date|date:'M/d/yyyy'}}</h5>
                </div>
            </div>
            <hr class="rounded">
            <div class="row">
                <label for="first_name" class="col col-sm-3 text-right control-label col-form-label">
                    <i class="fas fa-hand-holding "></i>
                    Fin:
                </label>
                <div class="col col-sm-9">
                    <h5>{{this.actualFiscalPeriod.period_end_date|date:'M/d/yyyy'}}</h5>
                </div>
            </div>
            <hr class="rounded">
            <div class="row">
                <label for="first_name" class="col col-sm-3 text-right control-label col-form-label">
                    <i class="fas fa-hand-holding "></i>
                    Nota:
                </label>
                <div class="col col-sm-9">
                    <h5>{{this.actualFiscalPeriod.note}}</h5>
                </div>
            </div>
            <hr class="rounded">
            <div class="row">
                <label for="first_name" class="col col-sm-3 text-right control-label col-form-label">
                    <i class=" far fa-calendar-plus"></i>
                    Fecha de creación:
                </label>
                <div class="col input-group col-sm-9">
                    <h5>{{this.actualFiscalPeriod.creation_date|date:'M/d/yyyy, h:mm a'}}</h5>
                </div>
            </div>
            <hr class="rounded">
            <div class="row">
                <label for="first_name" class="col col-sm-3 text-right control-label col-form-label">
                    <i class="  far fa-calendar-check"></i>
                    Fecha de actualización:
                </label>
                <div class="col input-group col-sm-9">
                    <h5>{{this.actualFiscalPeriod.last_mod|date:'M/d/yyyy, h:mm a'}}</h5>
                </div>
            </div>
            <hr class="rounded">


            <div class="modal-footer border-top-0">
                <button type="submit" class="btn btn-raised mr-1 text-white" *ngIf="canEdit()"
                    (click)="edit(editModal,this.actualFiscalPeriod)"
                    style="background-color: #3473da;">Modificar</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #editModal let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Editar Periodo Fiscal</h3>
        <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="newFiscalPeriodForm" (ngSubmit)="saveChanges()">
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Periodo Fiscal</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control " id="name" formControlName="period_name" required
                            [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newFiscalPeriodForm.get('period_name').valid && (newFiscalPeriodForm.get('period_name').dirty || newFiscalPeriodForm.get('period_name').touched)">{{spanNameMessage}}</small>
                </div>
            </div>
            <!--Lista FiscalYear-->
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Fiscal Year</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <select class="custom-select" id="id_permission" formControlName="fiscal_year_id">
                            <option value="" selected disabled hidden>Seleccionar</option>
                            <option *ngFor="let fy of fiscalYear" [ngValue]="fy.fiscal_year_id">{{fy.fiscal_year_note}}
                            </option>
                        </select>
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newFiscalPeriodForm.get('period_start_date').valid && (newFiscalPeriodForm.get('period_start_date').dirty || newFiscalPeriodForm.get('period_start_date').touched)">{{spanNameMessage}}</small>
                </div>
            </div>
            <!--Lista FiscalYear-->
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Inicio</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="date" class="form-control " id="name" formControlName="period_start_date" required
                            [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newFiscalPeriodForm.get('period_start_date').valid && (newFiscalPeriodForm.get('period_start_date').dirty || newFiscalPeriodForm.get('period_start_date').touched)">{{spanNameMessage}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Final</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="date" class="form-control " id="name" formControlName="period_end_date" required
                            [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newFiscalPeriodForm.get('period_end_date').valid && (newFiscalPeriodForm.get('period_end_date').dirty || newFiscalPeriodForm.get('period_end_date').touched)">{{spanNameMessage}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="first_name" class="col-sm-3 text-right control-label col-form-label">Nota</label>
                <div class="col-sm-9 ">
                    <div class="input-group col-sm-12 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="basic-addon1">
                                <i class=" icon-note"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control " id="name" formControlName="note" required
                            [placeholder]="exampleName">
                    </div>
                    <small class="form-text text-danger"
                        *ngIf="!newFiscalPeriodForm.get('note').valid && (newFiscalPeriodForm.get('note').dirty || newFiscalPeriodForm.get('note').touched)">{{spanNameMessage}}</small>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="submit" class="btn btn-raised mr-1 text-white" [disabled]="!newFiscalPeriodForm.valid"
                    style="background-color: #3473da;">Actualizar</button>
                <button type="button" class="btn btn-raised mr-1 text-white  btn-color-solucredit-secondary"
                    (click)="closeBtnClick()">Cancelar</button>
            </div>
        </form>
    </div>
</ng-template>