<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Prospectos ingresados</h4>
                <div class="text-right">
                    <h2 class="font-light  font-weight-normal m-b-0">
                        <i class="ti-arrow-up text-success"></i> 30</h2>
                    <span class="text-muted">Acumulado mensual</span>
                </div>
                <span class="text-success">80%</span>
                <ngb-progressbar [showValue]="false" type="success" [value]="80"></ngb-progressbar>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cobros GTQ</h4>
                <div class="text-right">
                    <h2 class="font-light  font-weight-normal m-b-0">
                        <i class="ti-arrow-up text-info"></i> Q.500,000</h2>
                    <span class="text-muted">Acumulado mensual</span>
                </div>
                <span class="text-info">90%</span>
                <ngb-progressbar [showValue]="false" type="info" [value]="90"></ngb-progressbar>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cobros Divisas</h4>
                <div class="text-right">
                    <h2 class="font-light  font-weight-normal m-b-0">
                        <i class="ti-arrow-up text-primary"></i> $80,000</h2>
                    <span class="text-muted">Acumulado mensual</span>
                </div>
                <span class="text-primary">80%</span>
                <ngb-progressbar [showValue]="false" type="primary" [value]="80"></ngb-progressbar>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Créditos</h4>
                <div class="text-right">
                    <h2 class="font-light  font-weight-normal m-b-0">
                        <i class="ti-arrow-down text-danger"></i> Q.300,000.00</h2>
                    <span class="text-muted">Acumulado mensual</span>
                </div>
                <span class="text-danger">80%</span>
                <ngb-progressbar [showValue]="false" type="danger" [value]="80"></ngb-progressbar>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>