.bold-class {
    font-weight: 800;
}
.my-feather-icon {
    font-style: normal;
    width: 35px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
}
.submenu-my-feather-icon{
    font-style: normal;
    width: 10px;
    height: 10px;
    color: red;
    line-height: 10px;
    display: inline-block;
    text-align: center;
}
