<notifier-container></notifier-container>
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img alt="thumbnail" class="rounded-circle" width="100" src="https://solucredit-public.s3.amazonaws.com/resources/logo.png"></span>

            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" [formGroup]="resetForm">
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control form-control-lg" (focus)="emailFocus()" formControlName="Email" type="email" placeholder="Correo electronico registrado">
                                <small class="form-text text-danger" *ngIf="!resetForm.controls.Email.valid && (resetForm.controls.Email.dirty || resetForm.controls.Email.touched)">Ingresa un correo valido</small>
                            </div>
                        </div>

                        <!-- (click)="sendReset()" -->

                        <div class="form-group text-center">
                            <small class="form-text text-danger" *ngIf="!isEmailUnique && isEmailInputFocus">El correo ya esta registrado</small>
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" (click)="changePassword()" [disabled]="isCorrect()">Enviar correo de recuperación</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>